.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

section {
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  background: #faf6ec;
  overflow: hidden;
}

form {
  font: 0.28rem PingFangSC-Regular;
  color: #a7a7a7;
  line-height: 0.98rem;
  margin-top: .8rem;
  padding: 0rem .3rem;
}

form .icon {
  color: #222;
  margin: 0rem .1rem 0rem 0rem;
  font-size: .42rem;
}

form fieldset {
  width: 100%;
  height: 0.98rem;
  border: none;
  border-bottom: 1px solid #B68957;
}

form fieldset input {
  width: 2rem;
  font: 0.28rem PingFangSC-Regular;
  color: #a7a7a7;
  line-height: 0.98rem;
  line-height: .36rem;
  background: #faf6ec;
}

form fieldset input:focus {
  outline: none;
}

form input[type="submit"] {
  width: 100%;
  height: 0.88rem;
  border-radius: .1rem;
  background-color: #B68957;
  line-height: .88rem;
  color: #fff;
  font-weight: 800;
  margin-top: 1rem;
}

form .submit2 {
  background-color: #ccc !important;
}

article {
  margin-top: 1rem;
  padding: 0rem .3rem;
}

article .title {
  font: 0.28rem PingFangSC-Light;
  color: #F79B17;
  line-height: 0.28rem;
  margin-bottom: .3rem;
}

article p {
  font: 0.24rem PingFangSC-Light;
  color: #666;
  line-height: 0.36rem;
}
